/* Inter Font Link */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body {
  font-family: "Inter", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}

/* Common Styles Part Start------------------------------------------------------ */

/* Header Style Part Start------------------------------------------------------ */
.header {
  background-color: #000;
}
/* Navbar Styles Part------------ */
.navbar {
  background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0) 100%);
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-list a {
  text-decoration: none;
}
.nav-list li {
  list-style: none;
  color: #fff;
  font-size: 1rem;
}
.nav-title {
  color: #e6533c;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 800;
}
#home {
  border-radius: 46px;
  padding: 8px 20px;
  background: #e6533c;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
/* Banner Section Styles Part------------------------ */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.banner-text {
  max-width: 520px;
}
.banner-title {
  color: #fff;
  font-size: 5rem;
  font-weight: 900;
  line-height: 120%;
}
#shape {
  color: #fff;
  font-family: Miama;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.banner-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  line-height: 150%; /* 150% */
  letter-spacing: 0.5px;
  margin-top: 28px;
  margin-bottom: 28px;
}
.join-btn {
  color: #fff;
  padding: 16px 40px;
  border: none;
  border-radius: 42px;
  margin-right: 15px;
  background: #e6533c;
  font-size: 1rem;
  font-weight: 600;
  line-height: 122%; /* 122.222% */
}
.download-btn {
  color: #fff;
  background-color: #000;
  padding: 16px 40px;
  border-radius: 42px;
  border: 1px solid #fff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 122%; /* 122.222% */
}
/* Badge Part */
.video-badge {
  padding: 16px 23px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  max-width: 200px;
  position: relative;
  bottom: 450px;
  left: 225px;
}
.badge-title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 100%; /* 100% */
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.badge-text {
  color: rgba(255, 255, 255, 0.65);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 153%; /* 153.846% */
  letter-spacing: 1px;
}
.icon-badge {
  padding: 20px 23px;
  border-radius: 12px;
  max-width: 200px;
  display: flex;
  gap: 12px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  position: relative;
  bottom: 250px;
  right: 150px;
}
.icon-title {
  color: var(--Text-1, #fafaf9);
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 100%; /* 100% */
  letter-spacing: 0.3px;
}
.icon-text {
  color: var(--Text-2, rgba(239, 237, 232, 0.65));
  font-size: 1rem;
  line-height: 150%; /* 150% */
  letter-spacing: 0.5px;
}
